<div class="recipe recipe-list-item">

    {% comment %} Foto da receita {% endcomment %}
    <div class="recipe-cover">
        <img src="https://placehold.jp/269fe6/ffffff/1280x720.png" alt="Temporário">
    </div>

    {% comment %} Titulo da receita {% endcomment %}
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            Lorem ipsum dolor sit amet.
        </h2>
    </div>

    {% comment %} Informações do autor {% endcomment %}
    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Ray Sousa
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            13/10/2024 às 11:03
        </span>
        <span class="recipe-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>Café da manhã</span>
            </a>
        </span>
    </div>

    {% comment %} Informação da receita {% endcomment %}
    <div class="recipe-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio commodi possimus unde ea deserunt, molestias natus, autem quisquam magni quibusdam dicta dignissimos necessitatibus nemo ab. Voluptatibus sint officiis facilis eius?</p>
    </div>

    {% comment %} Informações do preparo e porções {% endcomment %}
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title">
                <i class="fas fa-stopwatch"></i>
                Preparo
            </h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fas fa-pizza-slice"></i>
                Porções
            </h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    {% comment %} Botão de ver mais {% endcomment %}
    <footer class="recipe-footer">
        <a href="" class="recipe-read-more button button-dark button-full-widht">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>

</div>